<% provide(:title, "New Event") %>
<h1>New Event</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<%= form_for(@event) do |f| %>
  	  <%= render "shared/error_messages", object: f.object %>
  	  
  	  <%= f.label :title %>
  	  <%= f.text_field :title %>

  	  <%= f.label :description %>
  	  <%= f.text_area :description %>

  	  <%= f.label :location %>
  	  <%= f.text_field :location %>

  	  <%= f.label :date_and_time %>
  	  <%= f.datetime_select :date, :ampm => true,
  	  						:minute_step => 15,
  	  						:start_year  => Time.now.year,
  	  						:start_month => Time.now.month,
  	  						:start_day   => Time.now.day %>
  	  <%= f.submit "Submit event", class: "btn btn-primary" %>
  	<% end %>
  </div>
</div>